.sidenav-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 290px;
  margin-bottom: 50px;
}

.cont-login {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .cont-login {
    width: 80%;
  }
}

