.sidenav-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 200px;
  margin-bottom: 25px;
}

.cont-login {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .cont-login {
    width: 80%;
  }
}

/*Codigo color #1F49A7*/
