<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="cont-login">
    <div class="w-100 d-flex justify-content-center">
      <img class="logo" src="../../../../assets/img/telcel_logo.png" alt="logo-telcel">
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error>Usuario no valido</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
        <a mat-icon-button
          matSuffix
           (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </a>
        <mat-error>Contraseña no valido</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Seleccionar región</mat-label>
        <mat-select formControlName="region">
          @for (region of regiones; track region) {
            <mat-option [value]="region.id">{{region.nombre}}</mat-option>
          }
        </mat-select>
        <mat-error>Región no valido</mat-error>
      </mat-form-field>

      <button class="w-100" mat-raised-button color="primary">Ingresar</button>
    </form>
  </div>
</div>
